<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script
        src="http://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
  <link rel="stylesheet" href="css/mngfood.css">
<title>
Manage Food
</title>
</head>
<body>

<div class="formContainter" style="margin:auto; width:80%;" >

		<form method="POST" action="../admin/food/add" class="form" id="foodform" >
          <div class="mdl-layout" ><h2> Add Food</h2> </div>
			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
    			 <input class="mdl-textfield__input" type="text"  name="fname" >
   				 <label class="mdl-textfield__label" for="fname">Food Name</label>
   				</div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input"  id="calories" name="calories">
           <label class="mdl-textfield__label" for="sample3">Calories</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" id="calfat" name="calfat">
           <label class="mdl-textfield__label" for="sample3">Calories from Fat</label>
          </div>

         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" id="fat" name="fat">
           <label class="mdl-textfield__label" for="sample3">Fat</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" id="carbs" name="carbs" >
           <label class="mdl-textfield__label" for="sample3">Carbohydrates</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" id="fiber" name="fiber" >
           <label class="mdl-textfield__label" for="sample3">Fiber</label>
          </div>

   			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    			 <input class="mdl-textfield__input" id="protein" name="protein" >
   				 <label class="mdl-textfield__label" for="sample3">Protein</label>
   				</div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" id="vitamin_a" name="vitamin_a">
           <label class="mdl-textfield__label" for="sample3">Vitamin A</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" id="vitamin_c" name="vitamin_c">
           <label class="mdl-textfield__label" for="sample3">Vitamin C</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" id="calcium" name="calcium" >
           <label class="mdl-textfield__label" for="sample3">Calcium</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" id="iron" name="iron" >
           <label class="mdl-textfield__label" for="sample3">Iron</label>
          </div>

           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input"  id="serving" name="serving" >
           <label class="mdl-textfield__label" for="sample3">Serving Size(g)</label>
          </div>

       <!--   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" id="nutri_dens" name="nutri_dens" >
           <label class="mdl-textfield__label" for="sample3">Nutrition Density</label>
          </div>

   			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    			 <input class="mdl-textfield__input" type="text" step="0.01" id="cholestrol" name="cholestrol">
   				 <label class="mdl-textfield__label" for="sample3">Cholestrol</label>
   				</div>
   			  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    			 <input class="mdl-textfield__input" type="text" step="0.01" id="sodium" name="sodium" >
   				 <label class="mdl-textfield__label" for="sample3">Sodium</label>
   				</div>


          <div>
			<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="fav">
			  <input type="checkbox" id="fav" name="favourite" class="mdl-checkbox__input" >
			  <span class="mdl-checkbox__label">Favourite</span>
			</label>
</div>
<div>
			<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="act">
			  <input type="checkbox" id="act" name="active" class="mdl-checkbox__input">
			  <span class="mdl-checkbox__label">Active</span>
			</label>
</div>

   			  <div id="ingredients-containter">
          <p>Ingrediants</p>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    			 <input class="mdl-textfield__input" type="text" name="ingred1">
   				 <label class="mdl-textfield__label" for="sample3">Ingredient 1</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" type="text" name="ingred2">
           <label class="mdl-textfield__label" for="sample3">Ingredient 2</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" type="text" name="ingred3">
           <label class="mdl-textfield__label" for="sample3">Ingredient 3</label>
          </div>
          -->
          <div class="">
             <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
             Submit  <i class="material-icons right">send</i>
            </button>
          </div>
   	</form>


</div>

 <script type="text/javascript">

 /*var ingred = [];
 var i = 0;
 function addIngredient() {

 }
for (var i = ingred.length - 1; i >= 0; i--) {
      console.log(ingred[i]+" ");
    }
*/
   $().ready(function () {
      $("#foodform").validate({
          rules: {
            fname:{
              required:true,
              minlength:2
            },
            calories:{
              required:true,
              number:true
            },
            calfat:{
              required:true,
              number:true
            },
            fat:{
              required:true,
              number:true
            },
            carbs:{
              required:true,
              number:true
            },
            fiber:{
              required:true,
              number:true
            },
            protein:{
              required:true,
              number:true
            },
            vitamin_a:{
              required:true,
              number:true
            },
            vitamin_c:{
              required:true,
              number:true
            },
            calcium:{
              required:true,
              number:true
            },
            iron:{
              required:true,
              number:true
            },
          /*  nutri_dens:{
              required:true,
              number:true
            },
            */serving:{
              required:true,
              number:true
            }
          },
          messages: {
            fname:{
                required:"Please enter Food name",
                minlength:"Food name should more than two latters"
            },
            serving:"Please enter serving"
          }
      });
   });

 </script>
</body>
</html>
