<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Manage Feedback</title>

    <!-- Add to homescreen for Chrome on Android -->

    <meta name="mobile-web-app-capable" content="yes">
  
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileColor" content="#3372DF">
   
	<script type="text/javascript" src="../material/material.min.js" ></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" ></script>
	<script type="text/javascript" src="../js/controllers/feedback_controller.js" ></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.cyan-light_blue.min.css"> 
    <link rel="stylesheet" type="text/css" href="../material/material.min.css">  	
    <link rel="stylesheet" type="text/css" href="../css/feedback.css">
	<title class="mdl-data-table">Manage Feedback</title>
</head> 
<body ng-app = "feedback">

<div ng-app="feedback" ng-controller="feedback_controller" class="feedbackContainer">

	<header class="	mdl-layout__header-row">
		<h3>Manage Feedback</h3>
	</header>
	<table class="mdl-data-table mdl-js-data-table mdl-data-table--responsive mdl-shadow--2dp" >
		<thead>
			<th class="mdl-data-table__cell--non-numeric">
				Name
			</th >

			<th class="mdl-data-table__cell--non-numeric feedback">
				Feedback
			</th>

			<th class="mdl-data-table__cell--non-numeric">
				Date and Time
			</th>
			<th class="mdl-data-table__cell--non-numeric">
				Delete
			</th>
		</thead>
		<tbody class="">
			<tr ng-repeat="feedback in feedbacks">
				<td class="mdl-data-table__cell--non-numeric">
					{{feedback.FirstName+' '+feedback.LastName}}
				
				</td>
				<td class="mdl-data-table__cell--non-numeric feedback" style="width: 400px">
					<div style="word-wrap: break-all; display: block">
					{{feedback.Feedback}}
					</div>
				</td>
				<td class="">
					{{feedback.DateTime}}
				</td>
				<td class="">
					<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn" 
					ng-click="confirmDelete(feedback.FirstName)">
            <i class="material-icons">delete</i>
				</td>
			</tr>
		</tbody>
	</table>
	
</div>
</body>
</html>